USE [YiPinMarket]
GO
/****** Object:  Table [dbo].[GoodsType]    Script Date: 03/02/2020 16:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsType](
	[GoodsTypeID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GoodsType] PRIMARY KEY CLUSTERED 
(
	[GoodsTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GoodsType] ON
INSERT [dbo].[GoodsType] ([GoodsTypeID], [GoodsType]) VALUES (1, N'零食')
INSERT [dbo].[GoodsType] ([GoodsTypeID], [GoodsType]) VALUES (2, N'衣服')
INSERT [dbo].[GoodsType] ([GoodsTypeID], [GoodsType]) VALUES (3, N'壁画')
SET IDENTITY_INSERT [dbo].[GoodsType] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 03/02/2020 16:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](10) NULL,
	[UserWM] [nvarchar](10) NULL,
	[UserSex] [nvarchar](2) NULL,
	[UserNum] [nvarchar](11) NULL,
	[UserAddress] [nvarchar](70) NULL,
	[UserWord] [nvarchar](16) NOT NULL,
	[UserPass] [nvarchar](16) NOT NULL,
	[UserEmail] [nvarchar](50) NOT NULL,
	[IDCard] [nvarchar](18) NULL,
	[UserQX] [int] NOT NULL,
	[IndentID] [int] NULL,
	[RegTime] [datetime] NULL,
	[lastTime] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([UserID], [UserName], [UserWM], [UserSex], [UserNum], [UserAddress], [UserWord], [UserPass], [UserEmail], [IDCard], [UserQX], [IndentID], [RegTime], [lastTime]) VALUES (1, N'', N'', N'男', N'', N'成都', N'admin', N'admin11', N'691143282@qq.com', NULL, 1, NULL, NULL, CAST(0x0000AA0E00B2C5B8 AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [UserWM], [UserSex], [UserNum], [UserAddress], [UserWord], [UserPass], [UserEmail], [IDCard], [UserQX], [IndentID], [RegTime], [lastTime]) VALUES (2, N'', N'', N'男', N'', N'', N'zhangsan', N'zhangsan', N'1024437824@qq.com', NULL, 0, NULL, NULL, CAST(0x0000AB4300F68565 AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [UserWM], [UserSex], [UserNum], [UserAddress], [UserWord], [UserPass], [UserEmail], [IDCard], [UserQX], [IndentID], [RegTime], [lastTime]) VALUES (3, NULL, NULL, NULL, NULL, NULL, N'liuliuliu', N'zhangsan', N'liu6email@163.com', NULL, 0, NULL, NULL, CAST(0x0000A9AA01312853 AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[tab_recomment]    Script Date: 03/02/2020 16:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_recomment](
	[recommentID] [int] IDENTITY(1,1) NOT NULL,
	[recommentName] [nvarchar](50) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tab_recomment] PRIMARY KEY CLUSTERED 
(
	[recommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tab_recomment] ON
INSERT [dbo].[tab_recomment] ([recommentID], [recommentName], [image]) VALUES (2, N'十点抢购', N'http://gma.alicdn.com/img/i1/119608415/O1CN01ssqMcr2C27S7F0hK4_!!0-saturn_solar.jpg')
INSERT [dbo].[tab_recomment] ([recommentID], [recommentName], [image]) VALUES (3, N'品牌特卖', N'http://gma.alicdn.com/img/i4/26542696/O1CN01aV8ofP1VmoLjtDLzc_!!0-saturn_solar.jpg')
INSERT [dbo].[tab_recomment] ([recommentID], [recommentName], [image]) VALUES (4, N'初秋上新', N'http://gma.alicdn.com/img/i1/106000658/O1CN014LwFwZ1GjPC90tDRP_!!0-saturn_solar.jpg')
SET IDENTITY_INSERT [dbo].[tab_recomment] OFF
/****** Object:  Table [dbo].[tab_BannerImages]    Script Date: 03/02/2020 16:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_BannerImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsID] [int] NOT NULL,
 CONSTRAINT [PK_tab_Images] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tab_BannerImages] ON
INSERT [dbo].[tab_BannerImages] ([ImageID], [GoodsID]) VALUES (1, 366)
INSERT [dbo].[tab_BannerImages] ([ImageID], [GoodsID]) VALUES (2, 365)
INSERT [dbo].[tab_BannerImages] ([ImageID], [GoodsID]) VALUES (3, 364)
SET IDENTITY_INSERT [dbo].[tab_BannerImages] OFF
/****** Object:  Table [dbo].[ShopCartTab]    Script Date: 03/02/2020 16:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopCartTab](
	[goodsID] [int] IDENTITY(1,1) NOT NULL,
	[goodsMsg] [nvarchar](200) NOT NULL,
	[goodsType] [nvarchar](50) NOT NULL,
	[goodsPrice] [decimal](18, 2) NOT NULL,
	[goodsOrderCount] [int] NOT NULL,
	[Totalprice] [decimal](18, 2) NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_ShopCartTab] PRIMARY KEY CLUSTERED 
(
	[goodsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShopCartTab] ON
INSERT [dbo].[ShopCartTab] ([goodsID], [goodsMsg], [goodsType], [goodsPrice], [goodsOrderCount], [Totalprice], [UserID]) VALUES (1, N'华为荣耀9荣耀v10钢化膜p20pro水凝膜magic2手机膜mate10全屏覆盖v9无白边Pro纳米软膜保护九原装十原厂膜', N'颜色分类：荣耀9水凝2片〖全屏覆盖☆增强高清〗送贴膜器+保护后膜', CAST(46.40 AS Decimal(18, 2)), 2, CAST(92.80 AS Decimal(18, 2)), 2)
INSERT [dbo].[ShopCartTab] ([goodsID], [goodsMsg], [goodsType], [goodsPrice], [goodsOrderCount], [Totalprice], [UserID]) VALUES (2, N'达利园法式小面包3斤整箱手撕面包糕点心营养早餐软面包零食批发', N'口味：3斤装', CAST(29.00 AS Decimal(18, 2)), 8, CAST(232.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[ShopCartTab] ([goodsID], [goodsMsg], [goodsType], [goodsPrice], [goodsOrderCount], [Totalprice], [UserID]) VALUES (4, N'巧妈妈乳酸菌布丁22克*12杯果肉果冻甜品果肉休闲零食布丁264g', N'口味：草莓味', CAST(38.40 AS Decimal(18, 2)), 5, CAST(192.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[ShopCartTab] OFF
/****** Object:  Table [dbo].[GoodsTab]    Script Date: 03/02/2020 16:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsTab](
	[GoodsID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsName] [nvarchar](255) NULL,
	[GoodsPrice] [decimal](18, 2) NOT NULL,
	[GoodsTypeID] [int] NOT NULL,
	[GoodsImage] [nvarchar](255) NULL,
	[GoodsCount] [int] NOT NULL,
	[GoodsSail] [int] NOT NULL,
	[GoodsWeight] [int] NULL,
	[GoodsRegTime] [datetime] NOT NULL,
	[GoodsIntro] [nvarchar](100) NULL,
	[GoodsRecommendLa] [nvarchar](255) NULL,
 CONSTRAINT [PK_GoodsTab] PRIMARY KEY CLUSTERED 
(
	[GoodsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GoodsTab', @level2type=N'COLUMN',@level2name=N'GoodsTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'销量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GoodsTab', @level2type=N'COLUMN',@level2name=N'GoodsSail'
GO
SET IDENTITY_INSERT [dbo].[GoodsTab] ON
INSERT [dbo].[GoodsTab] ([GoodsID], [GoodsName], [GoodsPrice], [GoodsTypeID], [GoodsImage], [GoodsCount], [GoodsSail], [GoodsWeight], [GoodsRegTime], [GoodsIntro], [GoodsRecommendLa]) VALUES (1, N'桂花九曲红梅', CAST(12.80 AS Decimal(18, 2)), 1, N'', 100, 0, 22, CAST(0x0000A9BE00000000 AS DateTime), N'传承中国美，寻根中国茶', N'推荐语~')
INSERT [dbo].[GoodsTab] ([GoodsID], [GoodsName], [GoodsPrice], [GoodsTypeID], [GoodsImage], [GoodsCount], [GoodsSail], [GoodsWeight], [GoodsRegTime], [GoodsIntro], [GoodsRecommendLa]) VALUES (3, N'一号店衣服', CAST(50.00 AS Decimal(18, 2)), 2, NULL, 200, 0, 50, CAST(0x0000A9BE00000000 AS DateTime), NULL, NULL)
INSERT [dbo].[GoodsTab] ([GoodsID], [GoodsName], [GoodsPrice], [GoodsTypeID], [GoodsImage], [GoodsCount], [GoodsSail], [GoodsWeight], [GoodsRegTime], [GoodsIntro], [GoodsRecommendLa]) VALUES (5, N'雪饼', CAST(15.00 AS Decimal(18, 2)), 1, NULL, 300, 12, 22, CAST(0x0000A9B400000000 AS DateTime), NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[GoodsTab] OFF
/****** Object:  Table [dbo].[GoodsSort]    Script Date: 03/02/2020 16:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsSort](
	[GoodsSortID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsSort] [nvarchar](50) NOT NULL,
	[GoodsID] [int] NOT NULL,
 CONSTRAINT [PK_GoodsSort] PRIMARY KEY CLUSTERED 
(
	[GoodsSortID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GoodsSort] ON
INSERT [dbo].[GoodsSort] ([GoodsSortID], [GoodsSort], [GoodsID]) VALUES (1, N'草莓味', 1)
INSERT [dbo].[GoodsSort] ([GoodsSortID], [GoodsSort], [GoodsID]) VALUES (2, N'蓝莓味', 1)
INSERT [dbo].[GoodsSort] ([GoodsSortID], [GoodsSort], [GoodsID]) VALUES (13, N'蓝色', 3)
SET IDENTITY_INSERT [dbo].[GoodsSort] OFF
/****** Object:  Default [DF_GoodsTab_GoodsSail]    Script Date: 03/02/2020 16:50:46 ******/
ALTER TABLE [dbo].[GoodsTab] ADD  CONSTRAINT [DF_GoodsTab_GoodsSail]  DEFAULT ((0)) FOR [GoodsSail]
GO
/****** Object:  Default [DF_Users_UserQX]    Script Date: 03/02/2020 16:50:46 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserQX]  DEFAULT ((1)) FOR [UserQX]
GO
/****** Object:  ForeignKey [FK_GoodsSort_GoodsTab]    Script Date: 03/02/2020 16:50:46 ******/
ALTER TABLE [dbo].[GoodsSort]  WITH CHECK ADD  CONSTRAINT [FK_GoodsSort_GoodsTab] FOREIGN KEY([GoodsID])
REFERENCES [dbo].[GoodsTab] ([GoodsID])
GO
ALTER TABLE [dbo].[GoodsSort] CHECK CONSTRAINT [FK_GoodsSort_GoodsTab]
GO
/****** Object:  ForeignKey [FK_GoodsTab_GoodsType]    Script Date: 03/02/2020 16:50:46 ******/
ALTER TABLE [dbo].[GoodsTab]  WITH CHECK ADD  CONSTRAINT [FK_GoodsTab_GoodsType] FOREIGN KEY([GoodsTypeID])
REFERENCES [dbo].[GoodsType] ([GoodsTypeID])
GO
ALTER TABLE [dbo].[GoodsTab] CHECK CONSTRAINT [FK_GoodsTab_GoodsType]
GO
/****** Object:  ForeignKey [FK_ShopCartTab_Users]    Script Date: 03/02/2020 16:50:46 ******/
ALTER TABLE [dbo].[ShopCartTab]  WITH CHECK ADD  CONSTRAINT [FK_ShopCartTab_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ShopCartTab] CHECK CONSTRAINT [FK_ShopCartTab_Users]
GO
